{% extends 'base.html' %}
{% block content %}
Bienvenu {{username}} <br>
<a href="{% url 'logout' %}">Je me deconnecte</a>
  <table class="table">
    <thead>
      <tr>
        {% comment %} <th scope="col">#</th> {% endcomment %}
        <th scope="col">Entreprise</th>
        <th scope="col">Poste</th>
        <th scope="col">Contrat</th>
        <th scope="col">Localisation</th>
        <th scope="col">Actions</th>
        
      </tr>
    </thead>
    <tbody>
      {% for data in datas %} 
      <tr>
        {% comment %} <th scope="row">1</th> {% endcomment %}
        <td>{{ data.entreprise }}</td>
        <td>{{ data.poste }}</td>
        <td>{{ data.choix_contrat }}</td>
        <td>{{ data.localisation }}</td>
        <td>
          <a href="#">Editer</a>
          <a href="#">Supprimer</a>
        </td>
      </tr>
      {% endfor %} 
    </tbody>
  </table>

{% endblock %}